workflow.json
{
  "name": "Autonomous Mail Agent - Multi-Team Management (FOSS Optimized)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 60
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "project",
              "value": "Autonomous Mail Agent"
            },
            {
              "name": "core_principle",
              "value": "100% FOSS"
            }
          ]
        }
      },
      "name": "Initialize Project",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [200, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:11434/api/generate",
        "bodyParameters": {
          "model": "llama3",
          "prompt": "=TASK: {{ $json.project }}\nCORE PRINCIPLE: {{ $json.core_principle }}\n\nStep 1: Analyze project for gaps/blind spots/dead ends.\nStep 2: Assign fixes to Team Leaders.\nStep 3: Ensure Multi-Thread Parallel Processing and no feature removals."
        }
      },
      "name": "FOSS Project Manager",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [400, 0]
    },
    {
      "parameters": {
        "fieldToSplit": "tasks",
        "options": {}
      },
      "name": "Divide into Tasks",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [600, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:11434/api/generate",
        "bodyParameters": {
          "model": "llama3",
          "prompt": "=Assign the following task to 3 team members: {{ $json.task_name }}\n\nReport progress back to Project Manager."
        }
      },
      "name": "FOSS Team Leader",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [800, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:11434/api/generate",
        "bodyParameters": {
          "model": "llama3",
          "prompt": "=Execute Sub-Task 1: {{ $json.subtask_1 }}"
        }
      },
      "name": "FOSS Member 1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1000, -100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:11434/api/generate",
        "bodyParameters": {
          "model": "llama3",
          "prompt": "=Execute Sub-Task 2: {{ $json.subtask_2 }}"
        }
      },
      "name": "FOSS Member 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1000, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:11434/api/generate",
        "bodyParameters": {
          "model": "llama3",
          "prompt": "=Execute Sub-Task 3: {{ $json.subtask_3 }}"
        }
      },
      "name": "FOSS Member 3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1000, 100]
    },
    {
      "parameters": {
        "operation": "merge",
        "mode": "combine"
      },
      "name": "Consolidate Work",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [1200, 0]
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Repeat Loop",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1400, 0]
    }
  ],
  "connections": {
    "Schedule Trigger": { "main": [[{ "node": "Initialize Project", "type": "main", "index": 0 }]] },
    "Initialize Project": { "main": [[{ "node": "FOSS Project Manager", "type": "main", "index": 0 }]] },
    "FOSS Project Manager": { "main": [[{ "node": "Divide into Tasks", "type": "main", "index": 0 }]] },
    "Divide into Tasks": { "main": [[{ "node": "FOSS Team Leader", "type": "main", "index": 0 }]] },
    "FOSS Team Leader": { "main": [
        [{ "node": "FOSS Member 1", "type": "main", "index": 0 }],
        [{ "node": "FOSS Member 2", "type": "main", "index": 0 }],
        [{ "node": "FOSS Member 3", "type": "main", "index": 0 }]
      ]
    },
    "FOSS Member 1": { "main": [[{ "node": "Consolidate Work", "type": "main", "index": 0 }]] },
    "FOSS Member 2": { "main": [[{ "node": "Consolidate Work", "type": "main", "index": 0 }]] },
    "FOSS Member 3": { "main": [[{ "node": "Consolidate Work", "type": "main", "index": 0 }]] },
    "Consolidate Work": { "main": [[{ "node": "Repeat Loop", "type": "main", "index": 0 }]] },
    "Repeat Loop": { "main": [[{ "node": "Initialize Project", "type": "main", "index": 0 }]] }
  }
}
